@import '../assets/css/index.scss';
img {
    max-width: 100%;
}

.edit_bg {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #fff;
    h1{
        text-align:center;
    }
}

.tools_container {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: px(227);
    z-index: 100;
    background: url(../assets/images/tools_bg.png) 0 0/100% 100% no-repeat;
    .column {
        width: px(500);
        min-height: px(92);
        position: absolute;
        top: px(15);
        left: px(108);
        overflow-x: auto;
        overflow-y: hidden;
        animation: tools .5s 0s both;
    }
    .column_1 {
        top: px(114);
    }
    .column_3 {
        top: px(105);
        img {
            height: 2px;
        }
    }
    .slide_box {
        width: px(646);
        height: px(92);
    }
    .active {
        border: 2px solid #4c567f;
    }
    .pan {
        width: px(81);
        height: px(81);
        margin: 0 px(15) px(15) 0;
        float: left;
        background-color: #fff;
        position: relative;
        img {
            @include center();
            width: auto;
            height: 80%;
        }
        span {
            width: px(35);
            height: px(39); 
            @include center();
        }
    }
    .pan {
        i {
            font-style: normal;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: #000;
            text-align: center;
            font-size: px(16);
            width: 100%;
            height: 100%;
            em {
                width: 100%;
                height: px(46);
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            b {
                border-radius: 50px;
                background: #ff752f;
                margin-bottom: px(5);
                display: inline-block;
            }
        }
    }
    .px1 {
        b {
            width: px(10);
            height: px(10);
        }
    }
    .px2 {
        b {
            width: px(15);
            height: px(15);
        }
    }
    .px3 {
        b {
            width: px(20);
            height: px(20);
        }
    }
    .px4 {
        b {
            width: px(25);
            height: px(25);
        }
    }
    .px5 {
        b {
            width: px(30);
            height: px(30);
        }
    }
    .px6 {
        b {
            width: px(35);
            height: px(35);
        }
    }
    .color1 {
        background: url(../assets/images/color1.png) 0 0/100% auto no-repeat;
    }
    .color2 {
        background: url(../assets/images/color2.png) 0 0/100% auto no-repeat;
    }
    .color3 {
        background: url(../assets/images/color3.png) 0 0/100% auto no-repeat;
    }
    .color4 {
        background: url(../assets/images/color4.png) 0 0/100% auto no-repeat;
    }
    .color5 {
        background: url(../assets/images/color5.png) 0 0/100% auto no-repeat;
    }
    .color6 {
        background: url(../assets/images/color6.png) 0 0/100% auto no-repeat;
    }
}
